.cardsM11 {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
  }
  
  .product-card11 {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .product-image11 {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .product-title11 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-price11 {
    color: #b12704;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .product-description11 {
    font-size: 0.9rem;
    color: #555;
  }
  
  .product-actions11 {
    margin-top: 10px;
  }
  
  .product-actions11 button {
    font-size: 0.9rem;
  }
  