#carrucel {
    top: 10px;
   margin-left: 300px;
    height: 300px; /* Cambia la altura a lo que necesites */
    width: 70%;
    overflow: hidden; /* Oculta cualquier parte que sobresalga */
}

#carrucel .carousel-item img {
    align-items: center;
    width: 90vw;
    height: 100vh;
}
