#carrucel {
    top: 40px;
   margin-left: 20px;
    height: 400px; /* Cambia la altura a lo que necesites */
    width: 90%;
    overflow: hidden; /* Oculta cualquier parte que sobresalga */
}

#carrucel .carousel-item img {
    align-items: center;
    width: 90vw;
    height: 100vh;
}
