/* Sidebar Styles */
.home-container {
  display: flex;
  flex-direction: row;
  
}

.main-content {
  flex: 1;
  /* padding: 20px; */
  background: linear-gradient(45deg, #876d39, #4e4e4e);
  min-height: 100vh;
}

.header-overlay {
  background-color: #343a40;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  
  z-index: 1000;
}

.header-overlay.hidden {
  display: none;
}

/* Placeholder for empty state */
.content-section {
  text-align: center;
  margin-top: 100px;
}

.footer-section {
  text-align: center;
  padding: 10px;
}

.pagination-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: #0056b3;
}
