/* Contenedor Principal */
.show-productos-container {
  margin-top: 50px;
  margin-left: 50px;
  
}

/* Filas de Productos */
.producto-row {
  gap: 16px;
  /* border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s; */
}

/* Tarjetas */
.producto-card-custom {
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.producto-card-custom:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Imagen */
.producto-image-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.producto-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Cuerpo de la tarjeta */
.producto-body {
  text-align: center;
}

/* Títulos */
.producto-title {
  font-size: 1rem;
  font-weight: bold;
  color: #d4af37;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.producto-units {
  font-size: 0.9rem;
  color: #6c757d;
}

.producto-price {
  font-size: 1rem;
  font-weight: bold;
  color: #212529;
}

/* Botones de acción */
.producto-action-buttons {
  display: flex;
  margin-left: 20px;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
 
}

.producto-delete-button {
  background-color: #dc3545;
  border: none;
  color: #fff;
  margin-left: 10px;
  border-radius: 50%;
  font-size: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.producto-delete-button:hover {
  transform: scale(1.1);
  background-color: #b02a37;
}

/* Responsivo */
@media (max-width: 576px) {
  .producto-title {
    font-size: 0.9rem;
  }

  .producto-price {
    font-size: 1rem;
  }

  .producto-units {
    font-size: 0.8rem;
  }
}
